<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Sample>
  <ExampleOid>3cd1f352-a0f8-488c-be0d-aa4e81c2c864</ExampleOid>
  <ExampleID>T224044</ExampleID>
  <ExampleUrl>http://www.devexpress.com/example=T224044</ExampleUrl>
  <ProductName>XtraScheduler Suite</ProductName>
  <Technology>DXperience</Technology>
  <Name>WinForms SchedulerControl API</Name>
  <Description>This example demonstrates how to manage WinForms Scheduler control programmatically.
The application includes several RichEditControls at the top used to display and edit the code and  SchedulerControl (at the bottom) which shows the result of code execution. There are two groups of tabs displaying code - one for C# and another for VB languages. Each group is composed of the main tab displaying the main executable code and the tab which displays the code of the helper class used in the main code snippet. Generally the helper class is not required and the corresponding tab is empty.
You can modify the code and watch the result. The code is executed two seconds after it is modified. If an error occurs during compilation or execution, the code window background color turns to pink.</Description>
  <RequiredExampleRunnerVersion>3.0.15.0</RequiredExampleRunnerVersion>
  <SupportedVersions>
    <Version>16.2.2</Version>
    <Version>16.2.3</Version>
    <Version>16.2.4</Version>
  </SupportedVersions>
  <SupportedIDEs>
    <IDE>Microsoft Visual Studio 2012</IDE>
    <IDE>Microsoft Visual Studio 2013</IDE>
    <IDE>Microsoft Visual Studio 2015</IDE>
  </SupportedIDEs>
  <KeepNUnitTests>False</KeepNUnitTests>
</Sample>