<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <connectionStrings>
    <add name="PracticeManagerEntities" connectionString="metadata=res://*/PracticeManagerModel.csdl|res://*/PracticeManagerModel.ssdl|res://*/PracticeManagerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-KCF43RE\SQL2019;initial catalog=PM_V3_iflow;persist security info=True;user id=sa;password=sql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
